[Unit]
Description=Calamares deferred removal
ConditionPathExists=/var/lib/calamares/first_run_done
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/sbin/resize2fs /dev/mmcblk0p1
ExecStart=/usr/bin/pkcon remove calamares c1-calamares-core

[Install]
WantedBy=multi-user.target

