[Unit]
Description=Calamares deferred removal
ConditionPathExists=/var/lib/calamares/first_run_done
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/deferred_removal

[Install]
WantedBy=multi-user.target

