Source: rock64-calamares-zeronet
Section: devel
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.6
Homepage: https://github.com/netrunner-zeronet/rock64-calamares-zeronet

Package: rock64-calamares-zeronet
Architecture: arm64
Depends: calamares
Description: distribution-independent installer framework
 distribution-independent installer framework.
 .
 This package contains the rock64-calamares-zeronet settings and branding for Netrunner Zeronet.
